*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root{
    --cor1: #EBE9EA;
}

html, body{
    height: 100vh;
    font-family: sans-serif;
    background-color: #ccc;
    scroll-behavior: smooth;
}



a, a:visited, a:link{
    text-decoration: none;
    
}

ol, ul, li{
    list-style: none;
}







