.containerFooter {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  padding: 15px 2%;
  color: #ccc;
}

.rodape {
  background-color: black;
  color: #ccc;
}

.list,
.list li {
  color: #ccc;

  list-style: circle;
}
.list a{
  color: white;
}
.listItem {
  margin-bottom: 4px;
}

.listItem a {
  color: #ccc;
}

.equipe,
.equipe li {
  color: #ccc;

  list-style: circle;
}

.equipeli {
  margin-bottom: 4px;
}
